body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
.grandparent1 {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.img1 {
  max-width: 100%;
  height: auto;
}
.grandparent2 {
  position: relative;
}
.parent1 {
  padding: 8px 16px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  letter-spacing: 4px;
  line-height: 40px;
}
.child1 {
  padding: 8px 16px;
}
.floatright {
  float: right;
  padding: 0px 6px;
}
.links{
  text-decoration: none;
  padding: 8px 16px;
  color: black;
}
.links:hover{
  color: #000;
  background-color: lightgrey;
}
.parent2 {
  margin-top: 16px;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  letter-spacing: 4px;
}
h1 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
  color: white;
}
h1> b {
  color: #fff;
  background-color: #000;
  opacity: 0.7;
  padding: 8px 16px;
}
.grandparent3 {
  padding: 8px 16px;
  padding-bottom: 0;
}
#projects {
  padding: 32px 16px;
}
h3 {
  margin: 10px 0px;
  padding: 16px 0px;
  font-size: 24px;
  border-bottom: 1px solid lightgray;
}
.row {
  padding: 0px 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row2{
  padding: 0px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.images {
  width: 25%;
  margin: 0px 0px 12px;
  padding: 0px 8px;
  position: relative;
}
.black {
  color: #fff;
  background-color: #000;
  position: absolute;
  padding: 8px 16px;
}
.relative {
  width: 100%;
}
#About {
  padding: 32px 16px;
}
.p{
  margin: 15px 0px;
}
.contactbutton{
    width: 100%;
    color: #000;
    background-color: #f1f1f1;
    border: none;
    padding: 12px 0px;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
  color: #000;
  background-color: lightgray;
}

.opacity{
    opacity: 0.7;
}
.formdiv{
    padding: 32px 16px;
}
#Name{
    width: 100%;
    margin-bottom: 0px ;
    padding: 12px;
    border: 1px solid lightgrey;
}
#same{
    width: 100%;
    margin: 16px 0px;
    margin-bottom: 0px;
    padding: 12px;
    border: 1px solid lightgrey ;
}
.SENDMESSAGE{
  color: #f1f1f1;
  background-color: #000;
  font-size: 16px;
  margin: 16PX 0PX;
  padding: 12PX 20PX;
  border: none;
}
.imagediv{
  padding: 0.15PX 16PX;
}
.lastdiv{
  color: #f1f1f1;
  background-color: #000;
  padding: 16px 0px;
}
.lasta:hover
{
  color: green ;
  background-color:black;
}
.hideh1{
  margin-left:10px;
}


@media only screen and (max-width: 920px) {
  .floatright {
    display: none;
  }
  .images{
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .floatright {
    display: none;
  }
  .hideh1{
    display: none;
  }
  .images{
    width: 100%;
  } 
}